html
  head
    title='Circle CI Lab'
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World!
